.list-fondo {
    background-color: black;
    height: 100vh;
}

.list-row {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}

.list-category {
    text-align: center;
    color: #eba600;
}