.navbar-container {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar-title {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 10rem;
    text-align: center;
    font-size: 1.3rem;
    color: white !important;
    font-family: 'Lato', sans-serif;
}

.active {
    font-weight: bold;
    color: rgb(243, 186, 64) !important;
    fill: rgb(243, 186, 64) !important;
}

.navbar-logo {
    width: 9rem;
}