.navbar-container {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar-toggler {
    background-color: white !important;
    color: white !important;
    fill: white !important;
    margin-right: 2rem;
}

.dropdown-toggle::after, .nav-link, .navbar-title {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin: 0 1rem;
    font-size: 1.3rem;
    color: white !important;
    font-family: 'Lato', sans-serif;
}

.dropdown-toggle::after {
    display: none;
}

.active svg, .nav-link:focus, .active {
    font-weight: bold;
    color: rgb(243, 186, 64) !important;
    fill: rgb(243, 186, 64) !important;
}

.navbar-logo {
    width: 9rem;
}