.navbar-container {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar-link {
    color: black;
    text-decoration: none;
    width: 10rem;
    text-align: center;
}

.navbar-title {
    font-size: 1.3rem;
    font-family: 'Lato', sans-serif;
}

.navbar-logo {
    width: 9rem;
}
