.detail-titulo {
    font-size: 2rem;
    font-weight: 600;
}

.detail-precio {
    font-size: 1.2rem;
    font-weight: bold;
}

.detail-img-container {
    display: flex;
    justify-content: center;
}

.detail-img {
    width: 60%;
}

.fondito {
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}