.detail-titulo {
    font-family: Lato;
    font-size: 2rem;
    font-weight: 600;
    margin: 0.2rem 0;
}

.detail-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.detail-precio {
    font-size: 1rem;
    font-family: Lato;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: rgb(243, 186, 64);
    font-weight: 600;
    margin: 0;
}

.detail-span {
    color: white;
    font-size: 2rem;
    font-weight: bolder;
}

.detail-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail-img {
    border-radius: 3%;
    object-fit: contain;
}

.Toastify__toast--success {
    background-color: #1dd098 !important;
 }

.detail-row {
    color: white;
    background-color: transparent;
    border: 1px solid cadetblue;
    max-width: 56rem;
    margin: 0 auto;
}

.detail-fondito {
    background-color: black;
    height: 100%;
}