.titulo {
    font-size: 2rem;
}

.precio {
    font-size: 1.2rem;
    font-weight: bold;
}

.imagenes {
    width:20%;
}

.fondito {
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}