.form-fondo {
    background-color: black;
    height: 100vh;
}

.form-container {
    border: 3px solid cadetblue;
    border-radius: 5px;
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding: 1rem 3rem;
    width: 25vw;
    margin: 0 auto;
}

.form-input {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 3px;
    outline: none;
    background-color: #fefefe;
    border-bottom: 5px solid #f1f1f1;
    box-sizing: border-box;
    font-size: 1em;
    font-family: Lato;
    color: #555;
    transition: all 0.5s ease;
}

.form-button {
    width: 100%;
    margin: 5px 0;
    padding: 12px;
    background-color: #1dd098;
    border: none;
    border-radius: 3px;
    border-bottom: 5px solid #1cc08b;
    box-sizing: border-box;
    color: white;
    font-family: Lato;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all 0.2s ease;
    cursor: pointer;
}

.form-button:hover {
    background-color: #ffb400;
    border-color: #eba600;
}