input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.counter-container{
  width: 10rem;
}

.toast-container{
  display: inline-block;
}