.auth-container {
    border: 3px solid cadetblue;
    border-radius: 5px;
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    width: 25rem;
}

.auth-titulo {
    font-size: 2.5-rem;
    color: #d6d8e1;
}

.auth-sub {
    margin-top: 1rem;
    color: #d6d8e1;
}

.input-container {
    width:20rem;
}
.auth-input {
    width: 100%;
    margin: 0 0;
    padding: 15px;
    border: none;
    border-radius: 3px;
    outline: none;
    background-color: #fefefe;
    border-bottom: 5px solid #f1f1f1;
    box-sizing: border-box;
    font-size: 1em;
    font-family: Lato;
    color: #555;
    transition: all 0.5s ease;
}

.auth-input:focus {
    background-color: white;
    border-bottom: 5px solid rgba(rgb(46, 46, 46), 0.2);
}

.auth-input::-webkit-input-placeholder {
    color: #d6d8e1;
}

.login-button {
    width: 20rem;
    margin: 5px 0;
    padding: 12px;
    background-color: #1dd098;
    border: none;
    border-radius: 3px;
    border-bottom: 5px solid #1cc08b;
    box-sizing: border-box;
    color: white;
    font-family: Lato;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all 0.2s ease;
    cursor: pointer;
}

.login-button:hover {
    background-color: #ffb400;
    border-color: #eba600;
}